.chatBox {
	@apply w-full bg-background items-center flex-col p-3 rounded-lg border h-full;
	display: none;

	&.selected {
		display: flex;
	}

	@media (max-width: 600px) {
		display: flex;
		width: 68%;
	}
}
